<link href='/scripts/fullcalendar/main.css' rel='stylesheet' />
<script src='/scripts/fullcalendar/main.js'></script>

<script src='/scripts/fullcalendar/locales/ru.js'></script>
<script src='/scripts/fullcalendar/locales/by.js'></script>


    <h4 class="text-center my-3">{{__ 'calendar.title'}}</h4>
<div class="container calendar-container">

    <div id='calendar'></div>
</div>


<script>
    let localePosInCookie = document.cookie.indexOf('locale=') + 7;
    var pageLocale = document.cookie.slice(localePosInCookie, localePosInCookie + 2);
    var calendar;
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            
            locale: pageLocale,
            initialView: 'dayGridMonth',
            defaultView: 'dayGridMonth',
            eventColor: 'orange',
            headerToolbar: {
                left: 'prev,today,next',
                center: 'title',
                right: 'dayGridMonth,listYear'
            },
            
            
            eventMouseEnter: function (info) {
                var id = info.event.id;
                var link = "/events#" + id;
            },
            eventMouseLeave: function (info) {
            },

        });
        initCalend();

    });

    function DateToISOLocal(date){
  // JS interprets db date as local and converts to UTC
  var localDate = date - date.getTimezoneOffset() * 60 * 1000;
  return new Date(localDate).toISOString().slice(0, 19);  
}


    async function initCalend() {
        response = await fetch('/api/concerts');
        if (response.ok) {
            var concerts = await response.json();
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
        concerts.forEach((concert) => {
            console.log(concert);
            concertDate=new Date(concert.date);
            concertDate-=concertDate.getTimezoneOffset() * 60 * 1000;

            let concertUrl=((concertDate>=Date.now())?("/events#"):("/events/archive#"))+ concert.id;
            calendar.addEvent({
                title: concert.title,
                id: concert.id,
                start: concert.date,
                url: concertUrl
            });
        })
        calendar.render();
    }


    







</script>