
<div class="separator container">
    <h3>{{__ 'calendar.title'}}</h3>
</div>
<div class="container calendar-container mb-5">
    <div id='calendar'></div>
</div>

{{#section 'head'}}
    <link href='/scripts/fullcalendar/main.min.css' rel='stylesheet' />
    <script defer src='/scripts/fullcalendar/main.min.js'></script>
    <script defer src='/scripts/fullcalendar/locales/ru.js'></script>
    <script defer src='/scripts/fullcalendar/locales/by.js'></script>
    <script defer src="/scripts/calendar.js"></script>
{{/section}}