<div class="container-fluid">

        <div class="row bg-light">
            <div class="col-12 col-sm-4 col-md-2 mb-3 p-0">
                <div class="bg-light border-right sidebar-wrapper">
                    <div class="sidebar-heading">Кабинет администратора</div>
                    <div class="list-group list-group-flush">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">&#8981;</span>
                            </div>
                            <input type="text" id="search-input" class="form-control" placeholder="Поиск" aria-label="search"
                                aria-describedby="basic-addon1">
                        </div>
                        <a href="#" id="1" onclick="$('.edit-container').load('/admin/concerts');" class="list-group-item list-group-item-action bg-light">Афиши</a>
                        <a href="#" id="2" onclick="$('.edit-container').load('/admin/news');" class="list-group-item list-group-item-action bg-light">Новости</a>
                        <a href="#" id="3" onclick="$('.edit-container').load('/admin/gallery');" class="list-group-item list-group-item-action bg-light">Галерея</a>
                        <a href="#" id="4" onclick="$('.edit-container').load('/admin/artists');" class="list-group-item list-group-item-action bg-light">Приглашенные артисты</a>
                        <a href="#" id="5" onclick="$('.edit-container').load('/admin/composers');" class="list-group-item list-group-item-action bg-light">Композиторы</a>
                        <a href="#" id="6" onclick="$('.edit-container').load('/admin/press');" class="list-group-item list-group-item-action bg-light">Пресса</a>
                        <a href="/admin/logout" class="list-group-item list-group-item-action bg-light">Выйти</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-10 edit-container">
               
            </div>
        </div>
</div>


<script>
$(document).ready(function(){
    var id={{id}}+'';
    $(`#${id}`).trigger("click");
});
document.getElementById("search-input").addEventListener("input",function(){
    var searchables=document.querySelectorAll('.searchable');
    if (this.value===""){
        searchables.forEach((element)=>{element.style.display=(element.classList.contains("card"))?"inline-block":"block";})
    } else{
         searchables.forEach((element)=>{
            var regex = new RegExp( this.value, 'i' );
             if (element.innerHTML.match(regex)){
                 element.style.display=(element.classList.contains("card"))?"inline-block":"block";
             } else{
                 element.style.display="none";
             }             
        });
    }
})


</script>