<div>


    <div class="ml-auto my-3">
        <form action="/admin/archive/add" method="post">
            <input class='form-control' type="submit" value="Добавить концерт" name="submit">
        </form>

    </div>

    {{> pagination pages=pages}}

    {{#each events}}{{> forms/concert event=this}}{{/each}}

    {{> deleteModal}}


</div>






<script>
    copyConcertSetEvent();
    posterUploadSetEvent('/admin/concerts/posterupload');
    deleteWithModalSetEvent('/admin/archive/delete');
    saveSetEvent("/admin/archive/edit");

</script>