    <div class="ml-auto my-3">
        <form action="/admin/artists/add" method="post">
            <input class='form-control' type="submit" value="Добавить артиста" name="submit">
        </form>

    </div>
<div class="row">


    {{#each artists}}{{> forms/artist artist=this}}{{/each}}

{{> modals/delete}}


</div>


<script>
        posterUploadSetEvent('/admin/artists/posterupload');
        deleteWithModalSetEvent('/admin/artists/delete');
        saveSetEvent("/admin/artists/edit");
        translateSetEvent('/admin/artists/translate'); 
</script>