<div class="ml-auto my-3">
    <form action="/admin/composers/add" method="post">
        <input class='form-control' type="submit" value="Добавить композитора" name="submit">
    </form>

</div>
<div class="row">



    {{#each composers}}
        {{> composerForm composer=this}}    
    {{/each}}





{{> deleteModal}}


</div>







<script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.js"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>
<script>
    $(document).ready(function () {
        posterUploadSetEvent('/admin/composers/posterupload');
        deleteWithModalSetEvent('/admin/composers/delete');
        saveSetEvent("/admin/composers/edit");
        translateSetEvent('/admin/composers/translate');
    });

</script>