<div>


    <div class="ml-auto my-3">
        <form action="/admin/concerts/add" method="post">
            <input class='form-control' type="submit" value="Добавить концерт" name="submit">
        </form>

    </div>
    {{#each events}}{{> forms/concert event=this}}{{/each}}




{{> deleteModal}}


</div>





<script>
      
        posterUploadSetEvent('/admin/concerts/posterupload');
        deleteWithModalSetEvent('/admin/concerts/delete');       
        saveSetEvent("/admin/concerts/edit");
    
</script>