<div class="container-fluid">
    {{> uploadimagebutton action="/admin/disks/upload"}}

    <div>
        <div class="card-columns">
            {{#each names}}
            {{> forms/image name=this imageFolder="/img/disks/" thumbnailFolder="/img/disks/"}}
            {{/each}}
        </div>
    </div>

    <script>
        $(".delete-button").click(function () {
            this.closest(".image-card").style.display = 'none';
            $.post("/admin/disks/delete", { filename: $(this).attr('id') });
        });
    </script>
</div>