<div class="container-fluid">
    {{> uploadimagebutton action="/admin/gallery/upload"}}

    <div>
        <div class="card-columns">
            {{#each names}}
                {{> forms/image name=this imageFolder="/img/gallery/" thumbnailFolder="/thumbnails/img/gallery/"}}
            {{/each}}
        </div>
    </div>

    <script>
        renameSetEvent();
        $(document).ready(function () {
            $(".delete-button").click(function () {
                this.closest(".image-card").style.display = 'none';
                $.post("/admin/gallery/delete", { filename: $(this).attr('id') });
            });
        });
    </script>
</div>