<div class="ml-auto my-3">
    <form action="/admin/musicians/add" method="post">
        <input class='form-control' type="submit" value="Добавить музыканта" name="submit">
    </form>

</div>
<div class="row">

    {{#each musicians}}{{> forms/musician musician=this}}{{/each}}



{{> modals/delete}}

</div>






<script>
        posterUploadSetEvent('/admin/musicians/posterupload');
        deleteWithModalSetEvent('/admin/musicians/delete');
        saveSetEvent("/admin/musicians/edit");
        translateSetEvent('/admin/musicians/translate');


</script>