<div>
    <div class="ml-auto my-3">
        <form action="/admin/news/add" method="post">
            <input class='form-control' type="submit" value="Добавить новость" name="submit">
        </form>

    </div>

    {{#each events}}{{> eventForm event=this}}{{/each}}

{{> deleteModal}}


</div>







<script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.js"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>
<script>
    $(document).ready(function () {
        posterUploadSetEvent('/admin/news/posterupload');
        deleteWithModalSetEvent('/admin/news/delete');

        saveSetEvent("/admin/news/edit");

    });


</script>