<div>
    <div class="ml-auto my-3">
        <form action="/admin/news/add" method="post">
            <input class='form-control' type="submit" value="Добавить новость" name="submit">
        </form>

    </div>
  {{> pagination pages=pages}}
    {{#each events}}{{> forms/event event=this}}{{/each}}

{{> modals/delete}}


</div>






<script>
        posterUploadSetEvent('/admin/news/posterupload');
        deleteWithModalSetEvent('/admin/news/delete');

        saveSetEvent("/admin/news/edit");


</script>