<div class="container-fluid">

    <div class="ml-auto my-3" >
        <form action="/admin/press/upload" method="post" enctype="multipart/form-data">
            <input class='form-control' type="file" name="files" id="files" multiple>
            <input disabled="true" class='form-control' type="submit" value="Загрузить изображение" name="submit">
        </form>

    </div>
    


    <div>
        <div class="card-columns">
            {{#each names}}
                {{> forms/image name=this imageFolder="/img/press/" thumbnailFolder="/thumbnails/img/press/"}}
            {{/each}}
        </div>

    </div>


<script>

  $(".delete-button").click(function(){
    this.parentNode.parentNode.style.display='none';
    $.post("/admin/press/delete", {filename:$(this).attr('id')});
  });

  $("#files").change(function(){
      if ($(this).val().length>0){
            $(this).siblings('.form-control').prop('disabled', false);
      }
  });

</script>


</div>