        <div class="card "> <img class="card-img-top"  loading=lazy src="/img/about/artists/{{artist.id}}.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{artist.name}} ({{artist.instrument}}, {{artist.country}})</p></div>
        </div>