    <div class="container my-2">
        <div class="block row my-1">
            <div class="col-3 col-md-2 col-lg-1 p-2">
                <i class="{{icon}}" style="font-size:320%"></i> 
            </div>
            <div class="col-9 col-md-10 col-lg-11 px-2 py-2 {{textclass}}">
                {{__ text}}
            </div>
        </div>
    </div>