        <div class="card"> <img class="card-img-top" loading=lazy src="/img/about/composers/{{composer.id}}.jpg" alt="Card image cap">
            <div class="card-footer">
                <p>{{composer.name}} ({{composer.country}})</p>
            </div>
        </div>