<footer>
    <div class="container">
        <div class="row">
            <div id="phone" class="col-md-4">
                Администрация
                <br>
                +375 (17) 284-79-00
            </div>
            <div id="email" class="col-md-4">
                Email
                <br>
                mchamberorchestra@gmail.com
            </div>
            <div id="social" class="col-md-4">
                Мы в соцсетях
                <br>
                
                <img src="/img/youtube-logo.jpg" alt="">
                <img src="/img/facebook-logo.png" alt="">
            </div>

        </div>
    </div>



</footer>