<img id="main_orchestra" src="img/main_orchestra.jpg" alt="">

<div class="container-fluid carousel-container mt-3">

    <div class="container-fluid text-center my-3">
        <h4 class="font-weight-light mb-3">Ближайшие концерты</h4>
        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="5000">
                <div class="carousel-inner w-100" role="listbox">

                    {{#each triplets}}
                    <div class="carousel-item">
                        <div class="card-deck">
                            {{#each this}}
                            <div class="card card-body">
                                <a href="/events#{{this.id}}">
                                    <img class="img-fluid" src="/img/posters/{{this.id}}.jpg">
                                </a>

                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}

                    <script>
                        document.getElementsByClassName("carousel-item").item(0).classList.add("active");
                    </script>


                </div>
                <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container">

        <h4 class="text-center my-3">Последние новости</h4>
        <div class="news-container">
            

        </div>

        <nav aria-label="..." class="pagination">
            <ul class="pagination">
                <li class="page-item ">
                    <p class="page-link"><</p>
                </li>
                <li class="page-item active" id="1"><p class="page-link">1</p></li>
                <li class="page-item " id="2">
                    <p class="page-link">2 </span></p>
                </li>
                <li class="page-item" id="3"><p class="page-link">3</p></li>
                <li class="page-item">
                    <p class="page-link" >></p>
                </li>
            </ul>
        </nav>
    </div>



    <script>
        const MAXPAGE=3; //!!!!!!



        $(document).ready(function () {
            $(".page-link").click(function () {
                event.preventDefault();
                var newsContainer=$(".news-container");
                var pagination=$(".pagination");
                var activePageLI=$(".active", pagination);
                var activePage=Number($(activePageLI).children().first().text());
                var pageButtonText=$(this).text();

                 

                
                var pageNum;
                if (Number.isInteger(Number(pageButtonText))){
                    activePage=Number(pageButtonText);
                    pageNum=activePage;
                } else {
                    if (pageButtonText==="<"){
                        activePage=(activePage-1>=1)?(activePage-1):(1); 
                    } else{
                        activePage=(activePage+1>MAXPAGE)?(MAXPAGE):(activePage+1);
                    }
                    pageNum=activePage;
                }

                activePageLI.removeClass("active");
                newActivePageLI=$(`#${activePage}`);
                newActivePageLI.addClass("active");
               
                newsContainer.empty();
                $.getJSON("/api/news?block="+pageNum, function (result) {
                    $.each(result, function (i, field) {
                        let html=`<div class="block row my-1">\
                            <div class="col-5 p-0">\
                                <img class="musicians-pic" src="/img/news/${field.id}.jpg" alt="">\
                            </div>\
                            <div class="col-7 px-4 py-1">\
                                <h3>${field.title}</h3>\
                                <p>${field.text}</p>\
                                <div class="concert-place">${field.date}</div>\
                                </div>\
                            </div>`;
                        newsContainer.append(html);
                    });
                });

            });
        });
    </script>


</div>