
<div class="container-fluid gallery-container">
    
    <div class="tz-gallery">
        <div class="separator container"><h3>{{__ 'press.title'}}</h3></div>
        <div class="card-columns">
            
            {{#each names}}
            <div class="card photo-card">
                <div class="thumbnail">
                    <a class="lightbox " style="overflow:hidden;"  href="/img/press/{{this}}.jpg">
                        <img class="card-img-top" loading=lazy style=" width: 100%;" src="/thumbnails/img/press/{{this}}.jpg" alt="Traffic">
                    </a>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>