/* Concerts */

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  color: rgb(0 0 0 / 50%);
  padding: 0 10px;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgb(0 0 0 / 18%);
  }

  &::before {
    margin-right: 0.25em;
  }

  &::after {
    margin-left: 0.25em;
  }
}

.month-events {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .month-events {
    margin-top: 5px;
  }

  .separator h3 {
    font-size: larger;
  }
}

label {
  font-size: 1rem;
}

.bottom-btn {
  position: absolute;
  bottom: 8px;
  margin-bottom: 0 !important;
  height: 24px;
  padding: 0 0.75rem;
  font-size: 1rem;
  border: none;
  opacity: 0.8;

  $base-indent-left: 165px;
  $add-width: 220px;
  $after-btn-margin: 5px;
  $small-width: 40px;

  &.buy-btn {
    left: $base-indent-left + $add-width + $after-btn-margin;
  }

  &.add-to-calendar-btn {
    width: $add-width;
    left: $base-indent-left;
  }

  .fa-solid {
    color: white;
  }

  // Normal buy btn, short calendar btn
  @media (min-width: 770px) and (max-width: 1020px), (min-width: 500px) and (max-width: 620px) {
    &.add-to-calendar-btn {
      width: $small-width;

      & span {
        display: none;
      }
    }

    &.buy-btn {
      left: $base-indent-left + $small-width + $after-btn-margin;
    }
  }

  // Short buy and calendar btn
  @media (min-width: 0) and (max-width: 500px) {
    width: $small-width !important;

    span {
      display: none;
    }

    &.buy-btn {
      left: $base-indent-left + $small-width + $after-btn-margin;
    }
  }

  // Normal buy and calendar btns
  @media (min-width: 620px) and (max-width: 770px) {
    &.add-to-calendar-btn {
      width: $add-width;
    }

    & span {
      display: inline;
    }
  }
}

.poster {
  width: 100%;
}

.event-row {
  margin-bottom: 3.5vw;
}

.calendar-container {
  background-color: rgb(230 230 230 / 30%);
}

#calendar {
  padding-top: 10px !important;
}

#month-picker {
  width: 100%;
}

.fc-daygrid-event-harness {
  visibility: hidden;
  width: 1200%;
}

.fc-daygrid-day-frame {
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.2 !important;
  }
}

.fc-scrollgrid-section-body .fc-day {
  height: 11vw;
  overflow: hidden;
}

/* .fc .fc-day-other .fc-daygrid-day-top {
    opacity: 1 !important;
  } */

@media (min-width: 480px) {
  .fc-daygrid-event-harness {
    width: 150%;
  }
}

@media (min-width: 768px) {
  .fc-daygrid-event-harness {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .fc-daygrid-event-harness {
    width: 23%;
  }
}

@media (min-width: 1200px) {
  .fc-daygrid-event-harness {
    width: 12%;
  }
}

.fc {
  .fc-button-primary:focus,
  .fc-button:focus {
    box-shadow: none !important;
  }
}

.fc-daygrid-day {
  background-size: cover;
}

.fc-header-toolbar {
  > div {
    max-width: 33%;
  }

  h2 {
    font-size: 1.25rem !important;
    text-transform: capitalize;
  }
}

@media (max-width: 480px) {
  .fc-header-toolbar h2 {
    font-size: 1rem !important;
  }
}

.concert,
.group,
.block,
.carousel-thumbnails {
  background-color: rgb(230 230 230 / 30%);
  border: 1px solid rgb(0 0 0 / 0%);
  font-size: 100%;
}

@media (min-width: 768px) {
  .concert {
    font-size: 80%;
  }
}

@media (min-width: 992px) {
  .concert {
    font-size: 110%;
  }
}

@media (min-width: 1200px) {
  .concert {
    font-size: 1.3vw;
  }
}

.concert-day {
  position: absolute;
  top: -6.5vw;
  right: -4.2vw;
  font-size: 8.5vw;
  color: #aaa;
}

.concert-place,
.concert-time {
  // position: absolute;
  // bottom: 8px;
  // right: 8px;
  font-size: 100%;
  color: #bbb;
}

//  {
//   // position: absolute;
//   // bottom: 32px;
//   // right: 8px;
//   font-size: 100%;
//   color: #aaa;
// }

pre {
  font-family: Cambria, serif;
  white-space: pre-wrap;
  overflow-x: hidden;
  word-wrap: break-word;
}

.card-body {
  padding: 0;
}

.ya-share2 {
  position: absolute;
  bottom: 8px;
  left: 0;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .concert-place,
  .concert-time {
    bottom: 10px;
    right: 0;
    position: relative;
  }
}
