/* header */
@use "config";

.navbar-nav a {
  font-size: 1.5em;
}

.navbar {
  padding: 0;
  background-color: config.$background-color-opaque;
  transition: background-color 1s;

  a:hover {
    color: config.$link-hover-color !important;
  }
}

.navbar-brand {
  width: 180px;
}

#logo {
  width: 180px;
  transition: width 0.5s;
}

@media (max-width: 992px) {
  nav #logo {
    width: 100px;
  }
}

.nav-item {
  margin: 0 15px;
}

.locale-change:hover,
.social-img:hover {
  opacity: 0.8;
}

.locale-change img {
  height: 40px;
}

.dropdown-item {
  &.active,
  &:active {
    background-color: #eee !important;
  }
}

.dropdown-menu-lang {
  right: 0;
  left: auto;

  @media (max-width: 992px) {
    left: 0;
    right: auto;
  }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

.slide-in {
  animation-name: slide-in;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.show {
  background-color: config.$background-color-transparent;
}
