/* Index */

.page-link {
  cursor: pointer;
  transition: background-color 0.2s;
  color: #000;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #555;
  text-decoration: none;
  border-color: #dee2e6;
  background-color: rgb(200 200 200 / 25%) !important;
  border: 1px solid #dee2e6 !important;
}

.active .page-link {
  background-color: rgb(200 200 200 / 25%) !important;
  border: 1px solid #dee2e6 !important;
}

.page-item.active .page-link {
  color: #000;
  background-color: #ccc;
  border: none;
}

.pagination {
  display: none;
}

/* Main */

#main_orchestra {
  width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

@media (min-width: 600px) {
  .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
  }
}

.card-deck {
  display: flexbox;
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.img-fluid {
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
