body{
    font-family: Cambria, serif;
}

html, body{ height:100%; margin:0; }



/*footer */

footer{
    background-color: #F9F9F9;

    width: 100%;
    padding:10px 0px;
    font-size:1.2em;
}

body{ 
    display:flex; 
    flex-direction:column; 
  }
  
  footer{
    margin-top:auto; 
  }
   


footer .container{
    padding:0px;
    word-wrap: break-word;
}

footer .row div{
    padding: 0 30px;
}

#social img{
    margin-top:3px;
    width: 35px;
}


/*header */

.navbar{
    padding:0px;
}

  .navbar-nav li:hover>.dropdown-menu {
    display: block;
  }
  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}

#main_orchestra{
    width: 100%;
}

#logo{
    width: 180px;
}
.navbar-nav a{
    font-size:1.5em;
}

.nav-item{
    margin:0px 15px;
}




.poster{
    
    max-width: 100%;
}
.event-row{
    margin-bottom:3.5vw;
}

.concert{
    background-color: #F9F9F9;
    font-size:1.5em;
    font-size:1.2vw;
}

.concert-day{
    position: absolute;
    top:-3.9vw;
    right: -1.3vw;
    font-size:5.5vw;
    color:#AAAAAA;
}

.concert-place{
    position: absolute;
    bottom:8px;
    right: 8px;
    font-size:1vw;
    color:#AAAAAA;
    
}


pre {
    font-family: Cambria, serif;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}