<div class="disks">
    <h4 class="text-center mb-3">{{__ 'disks.title'}}</h4>

    <div class="card-columns">
        {{#each names}}
        <div class="card "> <img class="card-img-top"  loading=lazy src="/img/disks/{{this}}.jpg" alt="Card image cap">
        </div>
        {{/each}}     
    </div>

</div>