<div class="disks">

    <div class="separator container"><h3>{{__ 'disks.title'}}</h3></div>
    <div class="card-columns">
        {{#each names}}
        <div class="card "> <img class="card-img-top"  loading=lazy src="/img/disks/{{this}}.jpg" alt="Card image cap">
        </div>
        {{/each}}     
    </div>

</div>