<div class="container-fluid">

    <div class="separator container"><h3>{{__ 'video.title'}}</h3></div>
{{> youtubeTV}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>