<div class="container-fluid">
<h4 class="text-center mb-3">{{__ 'video.title'}}</h4>
{{> youtubeTV}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>