<div class="container">

    <h4 class="text-center mb-3">Видеогалерея</h4>
    <!--Carousel Wrapper-->
    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-interval="false"  data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner video-container" role="listbox">
        <div class="carousel-item active">
            <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/0wWvSnE6KiI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="carousel-item">
          <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/jbRz_9_xEik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="carousel-item">
          <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/elYSQkTWfTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="carousel-item">
          <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/bgHpywo4fS4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="carousel-item">
          <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/H4-N7IzTUbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="carousel-item">
          <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/2yTQJiL41_I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
      </div>
      <!--/.Slides-->

      <ol class="carousel-indicators">
        <li data-target="#carousel-thumb" data-slide-to="0" class="active"> <img class="d-block full-width" src="http://i3.ytimg.com/vi/0wWvSnE6KiI/hqdefault.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="1"><img class="d-block full-width" src="http://i3.ytimg.com/vi/jbRz_9_xEik/hqdefault.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="2"><img class="d-block full-width" src="http://i3.ytimg.com/vi/elYSQkTWfTw/hqdefault.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="3" class="active"> <img class="d-block full-width" src="http://i3.ytimg.com/vi/bgHpywo4fS4/hqdefault.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="4"><img class="d-block full-width" src="http://i3.ytimg.com/vi/H4-N7IzTUbk/hqdefault.jpg"
            class="img-fluid"></li>
        <li data-target="#carousel-thumb" data-slide-to="5"><img class="d-block full-width" src="http://i3.ytimg.com/vi/2yTQJiL41_I/hqdefault.jpg"
            class="img-fluid"></li>
      </ol>
    </div>
    <!--/.Carousel Wrapper-->   




    <div class="container-fluid m-5">

    

    <div class="row musicians">

        <div class="offset-1 col-10 offset-lg-1 col-lg-10">
            <div class="row group">
                <div class="col-sm-2 col-4 p-0">
                    <img class="musicians-pic" src="/img/youtube-logo.jpg" alt="">
                </div>
                <div class="col-sm-10  col-8 px-4 py-1" >                  
                    <p>Больше видео на нашем youtube канале</p>    
                    <a href="https://www.youtube.com/channel/UCjZKpZnWt6uKowt7efFO1iQ/">youtube.com/channel/UCjZKpZnWt6uKowt7efFO1iQ/</a>     
                </div>
            </div>
        </div>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>