    <div class="separator container">
        <h3>{{__ name}}</h3>
    </div>

    <div class="card-columns">
        {{#each group}}
        {{> cards/musician musician=this}}
        {{/each}}
    </div>