        <div class="card bio-button" id="{{musician.id}}"  > <img class="card-img-top"  loading=lazy src="/img/about/musicians/{{musician.id}}.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{musician.name}}</p></div>
        </div>