<div class="block row my-3">
    <div class="col-md-5 col-12 p-0">
        <img class="musicians-pic full-width" src="/img/news/{{news.id}}.jpg" alt="">
    </div>
    <div class="col-md-7 col-12 px-4 py-1">
        <h6>{{news.title}}</h6>
        <pre>{{{news.text}}}</pre>
        <div class="concert-place">{{news.date}}</div>
    </div>
</div>