<img id="main_orchestra" src="img/main_orchestra.jpg" alt="">
<h4 class="text-center my-3">{{__ 'history.title'}}</h4>
<div class="container m-auto">
    

    <div class="row mt-3">

        <div class="block">
            <img class="full-width col-12 p-0" src="/img/about/history/1й-состав-МКО-Буклет.jpg" alt="">
            <div class="p-3" id="text-container">
                
                

            </div>


        </div>
    </div>
</div>


<script>
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

    $(document).ready(function () {
        let lang=getCookie('locale');
        if (lang==='en'){
            $("#text-container").load("/html/history_en.html");
        } else {
            $("#text-container").load("/html/history_ru.html");
        }        
    });

</script>