<img id="main_orchestra" srcset="img/optimized/main_orchestra/main_orchestra.jpg 2328w,
             img/optimized/main_orchestra/main_orchestra@0,75x.jpg 1747w, img/optimized/main_orchestra/main_orchestra@0,5x.jpg 1164w,
             img/optimized/main_orchestra/main_orchestra@0,25x.jpg 584w" src="img/main_orchestra.jpg"
    alt="Main orchestra photo">


<h4 class="text-center my-3">{{__ 'history.title'}}</h4>
<div class="container m-auto">


    <div class="row mt-3">

        <div class="block">
            <img class="full-width col-12 p-0" src="/img/about/history/1й-состав-МКО-Буклет.jpg" alt="">
            <div class="p-3" id="text-container">



            </div>


        </div>
    </div>
</div>


<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function () {
        let lang = getCookie('locale');
        $("#text-container").load(`/html/history_${lang}.html`);
    });

</script>