<div class="separator container"><h3>{{__ 'history.title'}}</h3></div>


<div class="container m-auto">


    <div class="row mt-3">

        <div class="block mb-3">
            <img class="full-width col-12 p-0" src="/img/about/history/1st.jpg" alt="">
            <div data-editable class="p-3 text"  id="text-container">
            </div>
        </div>

<div class="separator container"><h3>{{__ 'history.artdirectors.title'}}</h3></div>
        <div class="block mb-3" id="artDirectors">
            {{> artdirectors}}
        </div>

<div class="separator container"><h3>{{__ 'history.musicians'}}</h3></div>

        <div class="block mb-3 col-12" id="allMusicians">
            
            <div data-editable id='allMusiciansList'>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var lang = getCookie('locale');
        $("#text-container").load(`/html/history_${lang}.html`);
        $("#allMusiciansList").load(`/html/musicians_${lang}.html`);

    });

</script>