<img id="main_orchestra" src="img/main_orchestra.jpg" alt="">
<h4 class="text-center my-3">История коллектива</h4>
<div class="container m-auto">

    <div class="row mt-3">

        <div class="block">
            <img class="full-width col-12 p-0" src="/img/gallery/1й-состав-МКО-Буклет.jpg" alt="">
            <div class="p-3">
                
                <div>Заслуженный Коллектив Республики Государственный
                    камерный оркестр Беларуси был основан в 1968 году известным музыкантом — органистом, композитором и
                    дирижером — Олегом Янченко, как «Минский Камерный Оркестр» .<br>
                    С 1969 по 1994 год оркестр возглавлял выпускник Минской и Ленинградской консерваторий Юрий Цирюк. С
                    именем этого музыканта связаны высшие творческие достижения коллектива.<br>
                    В 1975 году оркестр с большим успехом выступил на Международном Фестивале камерных оркестров в
                    Вильнюсе, где был признан одним из лучших коллективов Советского Союза.<br>
                    В 1977 году оркестр был удостоен звания лауреата Всесоюзного конкурса профессиональных коллективов.
                    Камерный оркестр выступал с концертами в Большом Зале Консерватории в Москве, Филармонии
                    Санкт-Петербурга, в столицах республик бывшего СССР.<br>
                    Коллектив награжден Почетными грамотами Верховных советов России, Украины, Литвы, Латвии, Эстонии,
                    Молдавии, республик Закавказья и Средней Азии.<br>
                    Государственный камерный оркестр первый из профессиональных коллективов Беларуси в 1977 году выехал
                    на гастроли в ЧССР, Венгрию, Болгарию, где выступал с огромным успехом.<br>
                    С тех пор оркестр гастролировал в Германии, Австрии, Норвегии, Швеции, Дании, Англии, Франции,
                    Испании, Италии, Финляндии, Швейцарии, Ливане, Турции и других странах.<br>
                    Особое внимание оркестр уделяет гастрольным поездкам по родной Беларуси. Нет такого города-районного
                    центра республики, где не выступал бы камерный оркестр.<br>
                    С оркестром выступали выдающиеся исполнители: С. Рихтер, П. Бадура-Шкода (Австрия), Э.
                    Черни-Стефаньска (Польша), Ю. Франц (Германия), Н. Петров, Т. Николаева, Э. Вирсаладзе, М.
                    Воскресенский, М. Ростропович, Н. Гутман, Ю. Башмет, В. Третьяков, И. Архипова,, К. Ричарелли
                    (Италия), А. Рудин, В. Жук и др.<br>
                    Коллектив сотрудничал с такими дирижерами, как: Р. Баршай, П. Вандиловский, Д. Зубов, В. Катаев, М.
                    Кац, В. Полянский, А. Поляничко, Г. Проваторов, И.Э. Райль (Германия), С. Сондецкис, (Литва), Й.
                    Бергман (США), К. Флореа (Румыния-Испания), А. Анисимов, А. Рудин и др.<br>
                    Репертуар оркестра богат и разнообразен, от произведений старинной музыки XVII-XVIII вв. до
                    современной музыки XXI века.<br>
                    Оркестр стал своеобразной творческой лабораторией для многих белорусских композиторов —
                    Д.Смольского, В.Кондрусевича, В.Копытько, В.Солтана, Г.Гореловой и других.<br>
                    Практически все, написанное белорусскими композиторами для струнного оркестра, исполнено коллективом
                    на сцене, записано в фондах радио и на Компакт-диски.<br>
                    В камерном оркестре работают выпускники Белорусской и Московской консерваторий, среди них лауреаты
                    национальных и международных конкурсов,<br>
                    В настоящее время главным дирижером и художественным руководителем Государственного камерного
                    оркестра Республики Беларусь является Заслуженный Артист России Евгений Бушков.<br>
                    Под руководством Евгения Бушкова ГКО РБ впервые в Беларуси исполнил произведения таких композиторов
                    как Бенджамин Бриттен, Эрик Фрайтаг, Габриеле Прой, Хидайат И. Хан, Алдемаро Ромеро, Сулхан
                    Цинцадзе, Тору Такемицу, Ефрем Подгайц, Георгос Хадзимихелакис, Гия Канчели, Войцех Килар, Мечислав
                    Вайнберг, Михаил Броннер, Петерис Васкс;<br>
                    состоялись мировые премьеры произведений Ларисы Симакович, Сергея Кортеса, Владимира Курьяна,
                    Михаила Броннера, Константина Яськова, а также австрийских композиторов Эрика Фрайтага и Габриеле
                    Прой.<br>
                    По приглашению маэстро Бушкова впервые в Минске выступили Пауль Бадура-Шкода, Денис Кожухин,
                    Александр Могилевский, Алла Аблабердыева, Алексей Зимаков; возобновилось сотрудничество оркестра с
                    Элисо Вирсаладзе.<br>
                    Солистами в программах под руководством Бушкова были Елизавета Леонская и Владимир Тропп, Фридрих и
                    Святослав Липс, Оксана Волкова и Андрей Шинкевич, Ангелина Ткачева и Степан Якович, Святослав Мороз
                    и Леонид Горохов (Англия), Геза Хоссу-Легоцки (Швейцария) и Вадим Холоденко (Украина), Ги Туврон
                    (Франция) и Кирилл Кедук, а также американский пианист и композитор Стивен Прутсман. Свои
                    собственные произведения впервые исполнили Олеся Ростовская (Россия; Концерт для терменвокса с
                    оркестром «Спелеон») и Алехандро Драго (Аргенитина; Концерт для скрипки с оркестром «Мистерия
                    Буэнос-Айреса»)<br>
                    Евгений Бушков инициировал создание нового филармонического цикла «Восходящие звезды» с участием
                    блестящих молодых музыкантов.<br>
                    В Минске Евгений Бушков продолжил свои ставшие знаменитыми серии концертов
                    для детей «Классика это классно». В рамках этого цикла с оркестром выступил Вениамин Смехов в своей
                    авторской версии «Красной Шапочки» Пола Паттерсона, Ефрем Подгайц прочитал свою «Странную Струнную
                    Сказку» для чтеца и камерного оркестра на мировой премьере в Минске, прозвучала опера Давида
                    Кривицкого «Городок Жур-Жур», были исполнены впервые в Беларуси вокальные циклы Михаила Броннера «10
                    ну очень вредных советов» по Г.Остеру и «Лимерики», а также «Удивительные песни» Е. Подгайца. Летом
                    2016 года одна из программ этого цикла прозвучала на Минском open-air Фестивале «Классика у
                    Ратуши».<br>
                    Свой 45й год существования коллектив отметил мировой премьерой «Белорусского Концерта» Михаила
                    Броннера для цимбал и оркестра с блистательной Вероникой Прадед в качестве солистки, написанного по
                    заказу маэстро Бушкова.<br>
                    Юбилею оркестра был посвящен беспрецедентный по своему размаху просветительский проект «Музыкальные
                    сады Беларуси» из 15 концертов по Республике в сезоне 2013-2014 гг.<br>
                    В том же сезоне Государственный камерный оркестр Республики Беларусь с успехом открыл Международный
                    фестиваль современной музыки «Московская Осень» в Доме Композиторов в Москве, где представил четыре
                    Российских премьеры; спустя 30 лет вновь выступил на сцене прославленного Большого Зала Московской
                    консерватории.<br>
                    За последние годы оркестр гастролировал с неизменным успехом в Словении (на Фестивале в Любляне
                    2014-15гг), Италии, Австрии, Азербайджане, Турции, Норвегии, Франции.<br>
                    В сезоне 2015-16 по приглашению Евгения Бушкова с оркестром дважды выступил в Минске выдающийся
                    французский пианист Люка Дебарг, ставший сенсацией XV Международного Конкурса им. Чайковского в
                    Москве.<br>
                    Государственный камерный оркестр РБ под руководством своего главного дирижера — первым из
                    академических музыкальный коллективов страны выступил в США. В Апреле-Мае 2016 коллектив осуществил
                    исторические гастроли в штате Флорида, где принял участие в Международном Фестивале
                    «Stay-in-May».<br>
                    В Минске ГКО РБ единственный филармонический ансамбль, предлагающий слушателям абонементы на свои
                    концерты.<br>
                    В Ноябре 2016 в присутствии Посла РБ во Франции П.П. Латушко состоялось аншлаговое выступление
                    оркестра в престижнейшем Зале «Гаво» в Париже. В программе концерта «Молитва» О.Янченко, «Струнная
                    Серенада» П.И. Чайковского и Второй Концерт для фортепиано с оркестром Л.ван Бетховена. Солировал
                    Люка Дебарг.<br>
                    Впервые в филармонической практике Беларуси оркестр в целях поддержки современной Белорусской музыки
                    пригласил Константина Яськова быть «composer-in-residense» в течение всего концертного сезона
                    2016-17 гг.<br>
                    Результатом этого беспрецедентного сотрудничества стала мировая премьера 20 Сентября 2017 года
                    Мистерии для народного голоса, струнных, фортепиано и ударных «Кросны Макоши» — цикла на слова 12
                    народных белорусских песен.<br>
                    Партию народного голоса исполнила Эвелина Щедрина.<br>
                    В Феврале 2018 года Государственный камерный оркестр отметил свое 50-летие Гала концертом в Большом
                    Зале Белгосфилармонии с участием композиторов и солистов из пяти стран, а также на сцену вышли
                    многие музыканты, работавшие в коллективе в прошедшие годы. В Мае того же года за значительный вклад
                    в развитие белорусского музыкального искусства постановлением Министра Культуры РБ&nbsp;
                    Государственному камерному оркестру было присвоено почетное звание «Заслуженный коллектив
                    Республики».<br>
                </div>

            </div>


        </div>
    </div>
</div>