<div class="artists">    
    {{> artistsGroup group=artists.[0] name='artists.conductors'}}
    {{> artistsGroup group=artists.[1] name='artists.violins'}}
    {{> artistsGroup group=artists.[2] name='artists.violas'}}
    {{> artistsGroup group=artists.[3] name='artists.cellos'}}
    {{> artistsGroup group=artists.[4] name='artists.basses'}}
    {{> artistsGroup group=artists.[5] name='artists.pianists'}}
    {{> artistsGroup group=artists.[6] name='artists.winds'}}
    {{> artistsGroup group=artists.[7] name='artists.folks'}}
    {{> artistsGroup group=artists.[8] name='artists.vocalists'}}
    {{> artistsGroup group=artists.[9] name='artists.voices'}}    
</div>