<div class="artists">
    <h4 class="text-center mb-3">{{__ 'composers.title'}}</h4>

    <div class="card-columns">
        
        {{#each names}}
        <div class="card"> <img class="card-img-top" loading=lazy src="/img/about/composers/{{this}}.jpg" alt="Card image cap">
            <div class="card-footer">
                <p>{{this}}</p>
            </div>
        </div>
        {{/each}}     
    </div>

</div>