
<img class="full-width " src="/img/about/Bushkov.jpg" alt="">
<div class="container m-auto">

    <div class="row mt-3">
        <div class="block">
            <h4 class="text-center mb-3">Евгений Бушков - главный дирижер</h4>
            
            <div class="p-3">
                <p><strong><em>&#171;Дирижер в ответе за то, какая музыка будет звучать
                        завтра&#8230;Недостаточно просто открыть новые ноты, нужно сыграть их так, чтобы захотелось
                        слушать снова и снова&#187;.</em></strong><br />
                &nbsp;<br />
                Это творческий принцип дирижера Евгения Бушкова, который определяет уровень и требовательности к себе, и
                к своим коллегам музыкантам.<br />
                Одухотворенность исполнения, эмоциональная наполненность и точность прочтения авторского текста,
                &#8212;<br />
                именно эти качества объясняют интерес и стремление многих современных композиторов к тому, чтобы их
                произведения были исполнены оркестрами под управлением Евгения Бушкова.</p>
            <p><strong><em> «Евгения Бушкова отличает искренность, музыкальность, совершенное чувство формы… словом всё,
                        что присуще настоящему мастеру.</em></strong><br />
                <strong><em>Для меня и для моих коллег-композиторов очень важно, что он предельно основательно,
                        профессионально и доброжелательно относится к новым сочинениям, обладая при этом блестящей
                        дирижёрской техникой…»</em></strong><br />
                <strong><em> Ефрем Подгайц</em></strong></p>
            <p>Этот интерес &#8212; взаимен, благодаря этому за последние 10 лет прозвучали такие премьеры, как:<br />
                &#171;Гарольд в России&#187; А. Чайковского (Ю. Башмет/&#187;Новая Россия&#187;) &#8212; мировая
                премьера;<br />
                Симфония No.1 &#171;Памяти жертв СПИДа&#187; Дж. Корильяно (Новосибирский АСО) – российская
                премьера;<br />
                &#171;Реквием&#187; А. Караманова (&#171;Новая Россия&#187;) &#8212; российская премьера;<br />
                Симфония no.2 А. Семенова (СО Белгородской филармонии) &#8212; мировая премьера;<br />
                Симфония no.15 Д. Смольского (ГАСО РБ)- мировая премьера,<br />
                Концерт для Альта с оркестром Е. Подгайца (М. Березницкий/ «Новая Россия»)- московская премьера.<br />
                «Populus meus» для виолончели с оркестром Дж. Тавенера (С. Антонов/ГАКО России)- российская
                премьера.<br />
                С дирижером сотрудничали российские композиторы А. Балтин, В. Беляев, Г. Дмитриев, С. Жуков, П.
                Карманов, Р. Леденев, В. Мартынов, Б. Франкштейн, а также А. Драго (Аргентина), А. Лопес-Чоллет
                (Венесуэла), Т.Мухаметжанов (Казахстан), Э. Фрайтаг (Австрия), Г. Хадзимихелакис (Греция), Х. Инайат Хан
                (Индия), Д. Шнидер (Швейцария).<br />
                Даже в своих дебютных выступлениях с именитыми коллективами Маэстро Бушков исполняет новые или редко
                звучащие партитуры. Так, в программе с ЗКР Санкт-Петербургским Филармоническим оркестром в 2011 году
                были исполнены две премьеры произведений А. Маскатса и Л. Резетдинова; БСО им. Чайковского сыграл
                Танцевальную Сюиту на темы Куперена Р.Штрауса и &#171;Сенсемайя&#187; С. Ревуэльтаса. Произведения А.
                Караманова впервые прозвучали в Португалии (мировая премьера «Посвящения» для камерного оркестра),
                Турции, ЮАР («Весенняя увертюра»). География выступлений дирижера включает Европу, Азию, Латинскую
                Америку, Африку.<br />
                &nbsp;<br />
                В октябре 2014 года по приглашению автора Евгений Бушков дирижировал Юбилейный концерт Ефрема Подгайца,
                где в исполнении АСО МГФ впервые в одной программе прозвучали три сложнейших партитуры: Тройной Концерт,
                Концерт для оркестра «Формулы» и Кантата «Как нарисовать птицу».<br />
                Евгений Бушков с пяти лет начал учится на инструменте своей семьи &#8212; скрипке &#8212; по следам
                своей сестры Юлии и родителей: Зори Шихмурзаевой и Роберта Бушкова. Окончил ЦМШ и Московскую
                консерваторию. Среди его педагогов: З. Гилельс, Л.Коган, А. Винницкий, С. Дижур, Д. Шебалин и его мать
                &#8212; З. Шихмурзаева.<br />
                В годы учёбы в Московской консерватории Е.Бушков стал лауреатом крупнейших международных конкурсов: им.
                Г.Венявского в Познани (1986, I премия), им. Королевы Елизаветы в Брюсселе (1989, III премия), им.
                П.И.Чайковского в Москве (1990, II премия), победителем Первого Всемирного конкурса имени Шеринга в
                Монте-Карло (1992).<br />
                В 1990-х гг. вёл интенсивную концертную деятельность как солист, неоднократно принимал участие в
                фестивалях в Монте-Карло, Кольмаре, Мадриде, Кройте, Эль-Пасо, Оссиахе-Филлахе, его концерты проходили в
                лучших концертных залах России, Германии, Франции, Австрии, Италии, Норвегии, Финляндии, Англии,
                Шотландии, Чехии, Турции, США, Мексике, Перу, Аргентине и других стран мира.<br />
                &nbsp;<br />
                С 1999 г. Евгений полностью посвятил себя дирижированию. Его наставниками стали Д. Китаенко и В.
                Ямпольский.<br />
                С 2002 по 2009 гг. по приглашению Юрия Башмета, художественного руководителя и главного дирижера
                Государственного симфонического оркестра «Новая Россия», Евгений Бушков работал дирижёром этого
                коллектива.<br />
                За время работы с «Новой Россией», Евгений Бушков стал вдохновителем многих творческих проектов,
                продолжающихся и по сей день: такие серии концертов, как &#171;Солисты оркестра &#8212; наша
                гордость&#187;, например, даже вышли на филармоническую сцену; оркестр продолжает вручать свои премии
                молодым победителям детских конкурсов. Самым успешным творческим начинанием Евгения Бушкова можно
                считать серию концертов для детей &#171;Классика это классно&#187;: за годы сотрудничества &#171;Новой
                Россией&#187; было исполнено 25 авторских программ маэстро Бушкова в рамках абонементов МГФ.<br />
                С 2009 г. география этих концертов расширилась &#8212; к удовольствию юных слушателей &#171;Классика это
                классно&#187; проходила в Минске, Нижнем Новгороде, Белгороде, Саратове. Совсем недавно «Классика»
                зазвучала и на английском языке:<br />
                Первый концерт прошел в Мумбаи (Индия)<br />
                В программах Евгения прозвучали впервые произведения для детей Е. Подгайца, М. Броннера, Ю. Фалика, А.
                Семенова, П. Паттерсона; в первые на российской сцене были поставлены оперы: &#171;Мальчик, который
                слишком быстро рос&#187; Дж.-К. Менотти, &#171;Городок Жур-Жур&#187; Д. Кривицкого, &#171;Последний
                музыкант&#187; Е. Подгайца.<br />
                С 2015 детские авторские программы Евгения Бушкова продолжаются в абонементе &#171;Виртуозы Москвы
                &#8212; детям&#187; в ММДМ.<br />
                Параллельно с интенсивной деятельностью в качестве приглашенного дирижера, Евгений Бушков уделяет
                большое внимание своему коллективу &#8212; возглавляемый им с 2009 года Государственный камерный оркестр
                Республики Беларусь выезжал с концертами в Италию, Норвегию, Россию, Литву, Словению, Азербайджан,
                Францию и Азербайджан. В Июне 2015 года с большим успехом прошло дебютное выступления оркестра в
                Австрии. В сезоне 2016 года состоялись гастроли оркестра в США. Многие программы камерного оркестра
                украшают первые исполнения произведений таких современных белорусских композиторов, как Г. Горелова, С.
                Кортес, В. Курьян, Л. Симакович, К. Яськов. В Гала &#8212; концерте к 45-летию оркестра в 2013 году была
                исполнена мировая премьера &#171;Белорусского концерта&#187; М. Броннера.<br />
                С В 2012-2014 гг &#8212; Заслуженный Артист России Евгений Бушков – Художественный Руководитель и
                Главный дирижер Aкадемического Симфонического оркестра Саратовской областной филармонии им.
                А.Шнитке.<br />
                С 2017 года маэстро Бушков – resident-conductor в Симфоническом оркестре Индии.<br />
                С оркестрами под управлением маэстро Бушкова выступали А. Аблабердыева, Д. Алексеев, С. Антонов, П.
                Бадура-Шкода, Д. Барчеллона, Е. Баршай, Ю. Башмет, Н. Борисоглебский, А. Винницкий, Э. Вирсаладзе, Д.
                Войт, Л. Горохов, М. Гулегина, Н. Гутман, Б. Дуглас, С. Ковацевич, Д. Кожухин, Е. Леонская, Ф. Липс, А.
                Любимов, Д. Мацуев, А. Мельников, С. Накаряков, М. Пекарский, А. Рудин, З. Соткилава, В. Тропп, М.
                Федотов, С. Хаф, В. Холоденко, В. Чернов и другие выдающиеся солисты.</p>
            <p>После недавнего совместного выступления великий музыкант современности Пауль Бадура-Шкода отметил:
                &#171;Евгений Бушков-один из лучших дирижеров, с которыми мне довелось сотрудничать за последние 10
                лет!&#187;</p>

            </div>

            
        </div>
    </div>
</div>