
<img class="full-width " src="/img/about/Bushkov.jpg" alt="">
<div class="container m-auto">

    <div class="row mt-3">
        <div class="block">
            <h4 class="text-center mb-3">{{__ 'conductor.title'}}</h4>
            
            <div class="p-3" id="text-container">
                
            </div>

            
        </div>
    </div>
</div>


<script>
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

    $(document).ready(function () {
        let lang=getCookie('locale');
        if (lang==='en'){
            $("#text-container").load("/html/conductor_en.html");
        } else {
            $("#text-container").load("/html/conductor_ru.html");
        }        
    });

</script>