     <img srcset="/img/optimized/bushkov/bushkov.jpg 2301w,
             /img/optimized/bushkov/bushkov@0,75x.jpg 1725w, /img/optimized/bushkov/bushkov@0,5x.jpg 1151w,
             /img/optimized/bushkov/bushkov@0,25x.jpg 573w"
     src="/img/bushkov.jpg"
     alt="Evgeny Bushkov">

<div class="container m-auto">

    <div class="row mt-3">
        <div class="block">
            <h4 class="text-center mb-3">{{__ 'conductor.title'}}</h4>
            
            <div class="p-3" id="text-container">
                
            </div>

            
        </div>
    </div>
</div>


<script>
function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}

    $(document).ready(function () {
        let lang=getCookie('locale');
        if (lang==='en'){
            $("#text-container").load("/html/conductor_en.html");
        } else {
            $("#text-container").load("/html/conductor_ru.html");
        }        
    });

</script>