<div class="container musicians-container">
    {{> groups/musicians group=musicians.[0] name='musicians.violins1'}}
    {{> groups/musicians group=musicians.[1] name='musicians.violins2'}}
    {{> groups/musicians group=musicians.[2] name='musicians.violas'}}
    {{> groups/musicians group=musicians.[3] name='musicians.cellos'}}
    {{> groups/musicians group=musicians.[4] name='musicians.bass'}}
    {{> groups/musicians group=musicians.[5] name='musicians.keyboards'}}
</div>

{{> modals/bio}}